@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

:root {
    --lemon-yellow: rgb(255, 222, 0);
    --dark-charcoal: rgb(51, 51, 51);
    --label-color: rgb(107, 112, 123);
}

body {
    position: relative;
    margin: 0;
    background-color: gainsboro;
}

button {
    margin-top: 10px;
}

/*
Background
*/

.background {
    position: absolute;
    inset: 0;
    z-index: -1;
    overflow: clip;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background>h1 {
    position: relative;
    white-space: nowrap;
    margin: 0;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 18rem;
    -webkit-text-stroke: black 2px;
    color: transparent;
    animation: background-scroll 10s infinite alternate ease-in-out;
}

@keyframes background-scroll {
    from {
        left: -100%;

    }

    to {
        left: 100%;
    }
}

.background>h1:nth-child(1) {
    background: linear-gradient(120deg, red -20%, blue 120%);
    background-clip: text;
    -webkit-text-stroke: transparent;
}

.background>h1:nth-child(3) {
    background: linear-gradient(200deg, white 50%, orangered 50%);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke: 8px transparent;
}

.profile-container {
    margin: clamp(20px, 10vh, 30px) auto;
    padding: 30px clamp(30px, 10vw, 40px);
    width: fit-content;
    min-width: 50vw;
    background-color: white;
    border-radius: 25px;
    border: var(--dark-charcoal) 1px solid;
}

.edit-input {
    border: 1px solid #ccc;
    padding: 5px;
    width: 100%;
}

.placeholder-red::placeholder {
    color: red;
}

.profile-container h1 {
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
}

/*
* Profile Picture
*/
.profile-picture-container {
    margin: 0 auto;
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow: clip;
}

.profile-picture-container .profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-picture-container .edit-icon {
    display: none;
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.profile-picture-container:hover .edit-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture-container .edit-icon i {
    font-size: 5rem;
}

/*
* Profile Details
*/
.profile-details p,
.profile-details strong,
.profile-details span {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
}

.profile-details .separator {
    height: 0.8px;
    background-color: var(--dark-charcoal);
    margin: 10px calc(clamp(30px, 10vw, 40px) * -1);
}

.profile-details .field-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .profile-details .field-group {
        display: block;
    }
}

.profile-details .field-group p {
    color: var(--label-color);
    margin: 0 20px 0 0;
}

.profile-details .field-group input,
.profile-details .field-group select {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 100%;
    max-width: 300px;
    width: 100%;
    padding: 5px 10px;
    color: black;
    border-radius: 20px;
    font-size: 1.5rem;
    box-sizing: border-box;
}

#address-title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    margin: 0;
}

#editBtn,
#saveBtn {
    font-size: clamp(1.5rem, 3vw, 2rem);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px 30px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 40px;
}

#editBtn:hover,
#saveBtn:hover {
    background-color: var(--lemon-yellow);
    color: black;
}
