@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

:root {
    --lemon-yellow: #ffcc00;
    --charcoal: #333333;
    --guyabano-gray: #f8f8f8;
    --checkout-item-img-width: 300px;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--guyabano-gray);
    color: var(--charcoal);
}

/*
* Checkout container
*/
#checkout-container {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    padding: 20px clamp(35px, 10vw, 10vw);
    gap: 20px;
}

#checkout-container>h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4rem;
    margin-bottom: 10px;
}

.checkout-item {
    display: flex;
}

.checkout-item-img {
    flex-shrink: 0;
    position: relative;
    width: var(--checkout-item-img-width);
    height: var(--checkout-item-img-width);
    overflow: clip;
    border-radius: 99999px;
}

.checkout-item-img img {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
}

.checkout-item-img .img-background {
    position: absolute;
    inset: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 8rem;
    font-weight: 700;
    color: var(--lemon-yellow);
}

@media (max-width: 768px) {
    .checkout-item-img {
        width: 100px;
        height: 100px;
    }

    .checkout-item-img .img-background {
        font-size: 7rem;
    }
}

.checkout-item-img .img-background::after {
    content: attr(data-content);
    position: absolute;
    inset: 0;
    -webkit-text-stroke: 4px white;
    color: transparent;
    z-index: 2;
}

.checkout-item-details {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.checkout-item-details>h3 {
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: clamp(1.5rem, 5vw, 2rem);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: clip;
}

.checkout-item-details>p {
    margin: 0;
    font-family: "Noto Sans JP", sans-serif;
}


/*
* Checkout section
*/
#checkout-summary>h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
}

/*Payment method selection*/
#payment-image img {
    width: 50px;
    height: auto;
}

/*Payment confirmation*/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.confirm-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.confirm-box h2 {
    margin-bottom: 10px;
}

.image-container {
    display: block;
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.image-container img {
    position: absolute;
    width: 100%;
    height: auto;
}

.confirm-actions {
    margin-top: 20px;
}

.confirm-actions button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.confirm-actions form {
    display: inline-block;
}

#confirm-payment {
    background-color: #28a745;
    color: white;
}

#cancel-payment {
    background-color: #dc3545;
    color: white;
}

.confirm-box img {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
    position: absolute;
}

#firefly-heart {
    z-index: 1;
}

#firefly-stab {
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 2;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Animation for showing the stab image */
#firefly-stab.show {
    opacity: 1;
    scale: 1.1;
}

.hidden {
    display: none;
}

#proceed-payment {
    font-size: clamp(1.5rem, 3vw, 2rem);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px 30px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 40px;
}

#proceed-payment:hover {
    background-color: var(--lemon-yellow);
    color: black;
}
