header {
    background-color: tomato;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
}

#menu-icon {
    display: none;
    color: black;
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }
}

/* Logo */
#logo {
    flex: 20%;
}

#logo h2 {
    font-size: 2rem;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

/* Search and Cart */
#search-bar {
    flex: 40%;
}

#cart {
    flex: 20%;
}

#cart a {
    display: grid;
    place-items: center;
    width: 50px;
    height: 30px;
    color: black;
    text-decoration: none;
}

#cart a:hover {
    color: white;
    background-color: black;
    border-radius: 25px;
    padding: 0.5rem;
}

#search-bar form {
    background: white;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    height: 2.5rem;
    justify-content: space-between;
    padding: .1875rem;
}

#search-bar input {
    flex: 1;
    padding: 10px 20px;
    border: none;
    margin-right: .1875rem;
}

#search-bar button {
    border: none;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-bar button i {
    margin: 0.5rem;
}

#search-bar button:hover {
    color: white;
    background-color: black;
}

#cart {
    flex: 1;
    /* This makes the cart div take up available space */
    display: flex;
    justify-content: center;
    /* This centers the cart icon horizontally within its div */
}

/* Auth Buttons */
#auth-button-group {
    display: flex;
}

#auth-button-group a {
    padding: 10px 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    text-decoration: none;
    background-color: white;
    font-size: 1.2rem;
    border: black solid 3px;
}

#auth-button-group a:first-child {
    border-radius: 15px 0 0 15px;
    border-right: black solid 2px;
}

#auth-button-group a:last-child {
    border-left: none;
    border-radius: 0 15px 15px 0;
}

#auth-button-group a:hover {
    background-color: black;
    color: white;
}

/* Media Queries for mobile view */
@media (max-width: 768px) {
    header {
        padding: 1.75rem 5%;
        gap: 1rem;
    }

    #logo {
        display: none;
    }

    #cart {
        display: none;
    }

    #auth-button-group {
        display: none;
    }
}
