header {
    background-color: tomato;
    color: white;
}

#pageHeaderTop {
    background-color: rgb(44, 44, 44);
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 10px;
    padding: 0.75rem 10%;
    font-size: clamp(0.75rem, 1.5vw, 1rem);
}

#signup {
    border-right: solid 1px gray;
    margin-right: 5px;
}

#pageHeaderBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.75rem 10%;
}

#pageHeaderBottom div#logo {
    flex: 20%;
}

#pageHeaderBottom div#search-bar {
    flex: 60%;
}

#pageHeaderBottom div#cart {
    flex: 20%;
}

#logo a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: white;
    gap: 10px;
    font-family: 'Roboto', sans-serif;
    /* Logo Font */
}

#search-bar form {
    background: white;
    border-radius: 2px;
    box-sizing: border-box;
    display: flex;
    height: 2.5rem;
    justify-content: space-between;
    padding: .1875rem;
}

#search-bar input {
    flex: 1;
    padding: 10px 20px;
    border: none;
    margin-right: .1875rem;
}

#search-bar button {
    border: none;
    background-color: tomato;
    color: white;
    cursor: pointer;
    border-radius: 0 2px 2px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-bar button i {
    margin: 0.5rem;
}

#search-bar button:hover {
    background-color: #e34234;
    /* Darker shade of tomato */
}

#cart {
    flex: 1;
    /* This makes the cart div take up available space */
    display: flex;
    justify-content: center;
    /* This centers the cart icon horizontally within its div */
}

/* Media Queries for mobile view */
@media (max-width: 768px) {
    pageHeaderTop {
        padding: 0.75rem 5%;
    }

    #pageHeaderBottom {
        padding: 1.75rem 5%;
    }

    #logo a h2 {
        display: none;
    }

    #notification a span {
        display: none;
    }

    #help a span {
        display: none;
    }
}