.product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.product-card {
    display: flex;
    flex-wrap: wrap;
    background-color: #f9f9f9;
    padding: 20px;
    max-width: 80%;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.product-col-image {
    flex: 1 1 350px; 
    max-width: 350px;
    margin-right: 20px;
}

.product-col-image img {
    width: 100%;
}

.product-col-details {
    flex: 2 1 450px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.qty-container{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.quantity-button {
    box-sizing: border-box;
    border: 1px solid #d4d4d4;
    padding: 10px 13px;
    font-size: 10px;
    height: 38px;
    width: 38px;
    color: #212529;
    background-color: #f8f9fa;

    &:hover {
        color: #0f1011;
        background-color: #e2e6ea;
        scale: 1.05;
    }
}

#decrease-quantity {
    margin-right: -1px;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
}

input[inputmode="numeric"]{
    box-sizing: border-box;
    text-align: center;
    padding: 6px 10px;
    border: 1px solid #d4d4d4;
    max-width: 80px;
    height: 38px;

    &:focus{
        outline: none;
        box-shadow: none;
    }   
}

#increase-quantity {
    margin-left: -1px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
}
